.header-transparent #Top_bar .menu > li > a 
	text-transform: uppercase
	font-weight: 700
	font-size: 10px
	letter-spacing: 0.5px

header#Header #Top_bar
	background-color: rgba($black, 0.8)
	&.is-sticky
		background-color: $black