#Top_bar .menu > li > a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 30px !important;
  padding: 5px 0 !important; }

#Top_bar .menu li ul li {
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 10px !important; }

header#Header #Top_bar {
  background-color: rgba(0, 0, 0, 0.8); }
  header#Header #Top_bar.is-sticky {
    background-color: #000000; }

#Top_bar #logo, .header-fixed #Top_bar #logo, .header-plain #Top_bar #logo, .header-transparent #Top_bar #logo {
  height: 60px !important;
  line-height: 30px !important;
  padding: 5px 0 !important; }

.header-classic #Top_bar .top_bar_right {
  top: 0;
  height: 0; }

#Top_bar a#search_button {
  color: #FFFFFF;
  top: 0 !important; }

#Top_bar.is-sticky .menu > li > a, #Top_bar.is-sticky .menu > li > a span {
  line-height: 52px !important; }
#Top_bar.is-sticky .top_bar_right_wrapper {
  top: 25px !important; }

div#tours-destacados .one-fourth {
  -webkit-box-shadow: 9px 10px 30px -8px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 9px 10px 30px -8px rgba(0, 0, 0, 0.49);
  box-shadow: 9px 10px 30px -8px rgba(0, 0, 0, 0.49);
  min-height: 430px; }
  div#tours-destacados .one-fourth p {
    min-height: 85px;
    margin-top: 10px; }
  div#tours-destacados .one-fourth .button {
    float: right;
    border: 1px solid #FF0000;
    border-radius: 25px;
    line-height: 11px;
    color: #FF0000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 25px; }
    div#tours-destacados .one-fourth .button:hover {
      background: #FF0000;
      color: #FFFFFF; }
  div#tours-destacados .one-fourth h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 0; }
    div#tours-destacados .one-fourth h4 span {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      text-transform: none; }

div#momentos {
  background-size: cover !important; }
  div#momentos .section_wrapper.mcb-section-inner {
    background: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding: 2% 0; }
  div#momentos .one.mcb-wrap {
    padding-left: 10%;
    padding-right: 10%; }
    div#momentos .one.mcb-wrap .one-third h4 {
      text-align: center;
      font-weight: 500;
      text-transform: uppercase; }
    div#momentos .one.mcb-wrap .one-third .list_idea li a {
      color: #000000 !important; }
  div#momentos h2.title {
    color: #000000;
    padding-top: 30px; }
  div#momentos .image_frame .image_wrapper .mask, div#momentos .edd_download_image:after {
    box-shadow: none !important; }
  div#momentos .image_wrapper {
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 0 auto; }
  div#momentos .image_frame:hover .image_wrapper .mask:after {
    background: transparent; }
  div#momentos .image_frame:hover .image_wrapper img {
    top: -2px !important; }
  div#momentos .photo_box .desc {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000; }

div#ojos-en-todas {
  text-align: center; }
  div#ojos-en-todas .one {
    margin-bottom: 0; }

.text-center {
  text-align: center !important; }

#gallery-home .fancy_heading .title {
  color: #FF0000; }

div#gallery-home {
  padding: 51px !important; }

#Top_bar .search_wrapper input[type="text"]::placeholder {
  color: white; }

@media only screen and (max-width: 1239px) and (min-width: 960px) {
  .container, .section_wrapper {
    max-width: 100% !important; } }
@media (max-width: 959px) and (min-width: 768px) {
  .container, .section_wrapper {
    max-width: 100% !important; }

  #Top_bar a.responsive-menu-toggle {
    top: 18px !important;
    right: 0 !important; }
    #Top_bar a.responsive-menu-toggle i {
      font-size: 33px !important;
      line-height: 0 !important;
      color: #FFFFFF; }

  .top_bar_right {
    display: none !important; }

  #Top_bar #menu {
    background: #000000 !important;
    padding: 16px; }
    #Top_bar #menu ul li.submenu .menu-toggle {
      border: none !important; } }
@media (max-width: 767px) {
  header#Header, header#Header #Top_bar {
    background: #000000 !important; }

  .top_bar_right {
    display: none !important; }

  #Top_bar .logo #logo {
    margin: 0 !important;
    padding: 0 !important; }
  #Top_bar .top_bar_left {
    margin: 0 !important; }
  #Top_bar #menu {
    background: #000000 !important;
    padding: 16px; }
    #Top_bar #menu ul li.submenu .menu-toggle {
      border: none !important; }

  header#Header a.responsive-menu-toggle {
    top: 14px !important; }
    header#Header a.responsive-menu-toggle i {
      font-size: 30px;
      color: #FFFFFF; }

  body .section_wrapper {
    max-width: 100% !important; }

  div#tours-destacados .one-fourth {
    min-height: auto; }
    div#tours-destacados .one-fourth p {
      min-height: auto;
      display: none; }

  div#momentos .section_wrapper.mcb-section-inner {
    margin: 0;
    max-width: 100% !important; }
  div#momentos .one.mcb-wrap {
    padding-left: 0;
    padding-right: 0; }
  div#momentos .image_wrapper {
    width: 50px;
    height: 50px; }
  div#momentos .photo_box .desc {
    margin-bottom: 0; }
  div#momentos .one-sixth {
    width: 50% !important;
    float: left !important;
    clear: inherit; }

  div#gallery-home {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  body footer {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    body footer .col-footer-20 {
      width: 100% !important;
      margin-bottom: 30px;
      border-bottom: 1px solid #FFFFFF;
      padding-bottom: 18px; }
    body footer .col-footer-40 {
      width: 100% !important; }

  div#tours-destacados .one-fourth {
    min-height: auto;
    text-align: center !important; }
    div#tours-destacados .one-fourth .button {
      float: none;
      margin: 14px auto; }

  .page-template-default div[role="form"] {
    padding: 20px; } }
footer {
  background: #000000;
  padding: 40px !important; }
  footer .col-footer-20 {
    width: 20%;
    float: left; }
  footer .col-footer-40 {
    width: 40%;
    float: left; }
  footer img.img-responsive {
    max-width: 45%; }
  footer h5 {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif; }
  footer img.ojos-footer {
    width: 100%;
      width-margin-bottom: 5px; }
  footer p {
    color: #FFFFFF;
    line-height: 1.6;
    font-size: 11px;
    padding-right: 10%; }
  footer a {
    color: #FFFFFF; }
  footer .container-icon {
    margin-top: 10px; }
    footer .container-icon a {
      font-size: 19px;
      padding: 0 3%; }
  footer img.pet-friendly {
    width: 40px;
    vertical-align: middle;
    margin-right: 9px; }

.fbx-light .fbx-close, .fbx-light .fbx-fullscreen-toggle, .fbx-light .fbx-inner, .fbx-light .fbx-loader, .fbx-light .fbx-next, .fbx-light .fbx-pause, .fbx-light .fbx-play, .fbx-light .fbx-prev, .fbx-light .fbx-social-toggle, .fbx-light.fbx-inset-buttons .fbx-next:before, .fbx-light.fbx-inset-buttons .fbx-prev:before {
  background-color: #000000 !important; }

.fbx-light .fbx-inner, .fbx-light.fbx-inset-buttons .fbx-next:before, .fbx-light.fbx-inset-buttons .fbx-prev:before, .fbx-light.fbx-modal, .fbx-modal.fbx-light.fbx-phone .fbx-close:hover, .fbx-modal.fbx-light.fbx-phone .fbx-fullscreen-toggle:hover, .fbx-modal.fbx-light.fbx-phone .fbx-next:hover, .fbx-modal.fbx-light.fbx-phone .fbx-pause:hover, .fbx-modal.fbx-light.fbx-phone .fbx-play:hover, .fbx-modal.fbx-light.fbx-phone .fbx-prev:hover, .fbx-modal.fbx-light.fbx-phone .fbx-social-toggle:hover, .fbx-rounded.fbx-light .fbx-close, .fbx-rounded.fbx-light .fbx-fullscreen-toggle, .fbx-rounded.fbx-light .fbx-pause, .fbx-rounded.fbx-light .fbx-play, .fbx-rounded.fbx-light .fbx-social-toggle {
  border-color: #000000 !important; }

.fbx-light .fbx-close, .fbx-light .fbx-close:before, .fbx-light .fbx-error-msg, .fbx-light .fbx-fullscreen-toggle, .fbx-light .fbx-fullscreen-toggle:before, .fbx-light .fbx-loader, .fbx-light .fbx-loader:before, .fbx-light .fbx-next, .fbx-light .fbx-next:before, .fbx-light .fbx-pause, .fbx-light .fbx-pause:before, .fbx-light .fbx-play, .fbx-light .fbx-play:before, .fbx-light .fbx-prev, .fbx-light .fbx-prev:before, .fbx-light .fbx-social-toggle, .fbx-light .fbx-social-toggle:before, .fbx-light.fbx-inset-buttons .fbx-next:before, .fbx-light.fbx-inset-buttons .fbx-prev:before, .fbx-metro.fbx-light .fbx-count, .fbx-metro.fbx-light .fbx-credit a {
  color: #FFFFFF !important; }

/*# sourceMappingURL=style.css.map */
